/*variables here */
:root {
  --shadow-color: 233deg 26% 37%;
  --shadow-elevation-low: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
    0.2px 1.3px 1.5px -1.1px hsl(var(--shadow-color) / 0.34),
    0.5px 3.1px 3.7px -2.2px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.29),
    0.4px 2.7px 3.2px -0.7px hsl(var(--shadow-color) / 0.29),
    1px 6.5px 7.6px -1.5px hsl(var(--shadow-color) / 0.29),
    2.5px 15.6px 18.4px -2.2px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.27),
    0.8px 5.1px 6px -0.3px hsl(var(--shadow-color) / 0.27),
    1.5px 9.5px 11.2px -0.6px hsl(var(--shadow-color) / 0.27),
    2.5px 15.3px 18px -1px hsl(var(--shadow-color) / 0.27),
    3.9px 24.1px 28.4px -1.3px hsl(var(--shadow-color) / 0.27),
    6px 37.1px 43.7px -1.6px hsl(var(--shadow-color) / 0.27),
    9px 55.9px 65.8px -1.9px hsl(var(--shadow-color) / 0.27),
    13.1px 81.8px 96.3px -2.2px hsl(var(--shadow-color) / 0.27);
  --main-color: #1985a1;
  --light-mainColor: #07f1f1;
  --dark-textColor: #46494c;
}
style {
  display: none;
}
/* animations */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  transition: 0.25s;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(45deg, #dddadc7d, #0d31d080, #07f1f193),
    url("/Assets/ivan-aleksic-PDRFeeDniCk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  font-family: Arial, Helvetica, sans-serif, monospace, "Times New Roman", "Open Sans", "Montserrat";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.homePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  gap: clamp(30px, 10vw, 50px);
  margin-bottom: 20px; 
  overflow-x: visible;
}
@media screen and (max-width: 1040px) {
  .homePage > div:first-child[displayedOnMobile="false"] {
    display: none;
  }
}
.homePage > div:first-child {
  width: max(60%, 340px);
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
}
.homePage > div:first-child > h1 {
  font-size: max(2.85em, 5.5vw);
}
.homePage > div:first-child > h3 {
  margin-top: 30px;
  font-size: clamp(15px, 1.7vw, 20px);
  font-weight: 300;
}  

.arrow { 
  border: solid var(--dark-textColor);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;   
  cursor: pointer;
}  

.left { 
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 180px;
  width: clamp(250px, 90%, 365px);
  min-height: min(100px, 27vw);
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  box-shadow: var(--shadow-elevation-high);
  background-color: white;
  gap: max(1vw, 8px);
  font-family: "Open Sans", sans-serif;
  font-size: clamp(12px, 2.5vw, 15px); 
}
.LoginContainer > button,
.landingPageForm > button {
  background-color: var(--main-color);
  border-radius: 30px;
  border: none;
  color: #fff;
}
.LoginContainer > button:hover,
.landingPageForm > button:hover {
  background-color: #0478fc;
  color: azure;
  cursor: pointer;
}
.landingPageForm > span {
  display: none;
  color: #ff0707;
}
p.other-opt > span {
  color: rgb(0, 153, 255);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}
p.other-opt {
  margin-top: 5px;
}
.landingPageForm {
  display: none;
  transition: 1.2s;
  opacity: 0;
  padding: 5px 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-textColor);
}
.landingPageForm > h2 {
  text-align: center;
}
.landingPageForm > label,
.landingPageForm > h2 {
  font-weight: 800;
  margin-top: 5px;
}
.landingPageForm > input {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  margin-top: 0;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 10px;
  border-color: #000, #aca8a8;
  border-style: inset;
}
.landingPageForm > input:focus-visible {
  outline: none;
}
.landingPageForm > button {
  padding: 10px 20px;
  margin-top: 5px;
}
.schoolCodePage {
  display: none;
}
.dashboard {
  display: none;
  height: 100%;
  width: 100%;
}
.dashboard > div {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
}
.dashboard > div > section {
  width: 100%;
  height: calc(100vh / 3);
  font-family: "Montserrat", sans-serif;
  color: #205da4;
  background: #dddadc;
  font-weight: 100;
  border: solid 1px #141a16;
  border-left: none;
  border-right: none;
  cursor: pointer;
  transition: 1.25s;
}
.dashboard > div > section:hover {
  color: #fff;
  background: linear-gradient(30deg, #205da4, #07f1f1);
}
.dashboard > div > section > h1 {
  top: 50%;
  transform: translateY(-50%);
  font-size: max(5vw, 20px);
  padding-left: 15px;
}
.events-tab {
  border-top: none !important;
}
.students-tab {
  border-bottom: none !important;
}
.dashboard > nav {
  width: 15%;
  background: #fff;
  left: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
