:root {
  --shadow-color: 233deg 26% 37%;
  --shadow-elevation-low: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.34),
    0.2px 1.3px 1.5px -1.1px hsl(var(--shadow-color) / 0.34),
    0.5px 3.1px 3.7px -2.2px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.29),
    0.4px 2.7px 3.2px -0.7px hsl(var(--shadow-color) / 0.29),
    1px 6.5px 7.6px -1.5px hsl(var(--shadow-color) / 0.29),
    2.5px 15.6px 18.4px -2.2px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high: 0.1px 0.7px 0.8px hsl(var(--shadow-color) / 0.27),
    0.8px 5.1px 6px -0.3px hsl(var(--shadow-color) / 0.27),
    1.5px 9.5px 11.2px -0.6px hsl(var(--shadow-color) / 0.27),
    2.5px 15.3px 18px -1px hsl(var(--shadow-color) / 0.27),
    3.9px 24.1px 28.4px -1.3px hsl(var(--shadow-color) / 0.27),
    6px 37.1px 43.7px -1.6px hsl(var(--shadow-color) / 0.27),
    9px 55.9px 65.8px -1.9px hsl(var(--shadow-color) / 0.27),
    13.1px 81.8px 96.3px -2.2px hsl(var(--shadow-color) / 0.27);
  --main-color: #1985a1;
  --light-mainColor: #07f1f1;
  --dark-textColor: #46494c;
  --grey-color: #c5c3c6;
  --lightest-color: #fffbfe;
  --darkest-color: #0c120c;
}
/*variables here */
style {
  display: none;
}
/* animations */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
  transition: 0.25s;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(45deg, #dddadc7d, #0d31d080, #07f1f193),
    url("/Assets/ivan-aleksic-PDRFeeDniCk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  font-family: Arial, Helvetica, sans-serif, monospace, "Times New Roman", "Open Sans", "Montserrat";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.page {
  width: 100%;
  height: 100%;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

#overlay > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px !important;
}
#overlay > div > div {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  gap: clamp(30px, 10vw, 50px);
  margin-bottom: 20px;
  overflow-x: visible;
}
@media screen and (max-width: 1040px) {
  .homePage > div:first-child[displayedOnMobile="false"] {
    display: none;
  }
}
.homePage > div:first-child {
  width: max(60%, 340px);
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
}
.homePage > div:first-child > h1 {
  font-size: max(2.85em, 5.5vw);
}
.homePage > div:first-child > h3 {
  margin-top: 30px;
  font-size: clamp(15px, 1.7vw, 20px);
  font-weight: 300;
}

.arrow {
  display: inline-block;
  padding: 3px;
  border-right: solid var(--dark-textColor) 3px;
  border-left: solid 3px transparent;
  border-bottom: solid var(--dark-textColor) 3px;
  border-top: solid 3px transparent;
  cursor: pointer;
}
.arrow + p {
  display: inline;
  color: var(--dark-textColor);
  font-size: clamp(12px, 2vw, 15px);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.LoginContainer,
#overlay > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 180px;
  width: clamp(250px, 90%, 365px);
  min-height: min(100px, 27vw);
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  box-shadow: var(--shadow-elevation-high);
  background-color: white;
  gap: max(1vw, 8px);
  font-family: "Open Sans", sans-serif;
  font-size: clamp(12px, 2.5vw, 15px);
}
.LoginContainer > button,
.landingPageForm > button,
form > button,
.overlay-buttons {
  background-color: var(--main-color);
  border-radius: 30px;
  border: none;
  color: var(--lightest-color);
}
.LoginContainer > button:hover,
.landingPageForm > button:hover,
form > button:hover,
.overlay-buttons:hover {
  background-color: #0478fc;
  color: azure;
  cursor: pointer;
}
.landingPageForm > span,
.schoolForm > span {
  display: none;
  color: #ff0707;
  margin-bottom: 5px;
  font-size: 13px;
}
p.other-opt > span {
  color: rgb(0, 153, 255);
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}
p.other-opt {
  margin-top: 5px;
  font-size: clamp(12px, 2vw, 14px);
}

.landingPageForm {
  display: none;
  transition: 1.2s;
  opacity: 0;
  padding: 5px 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-textColor);
}
.landingPageForm > h2,
.schoolForm > h2 {
  text-align: center;
}
.landingPageForm > label,
.landingPageForm > h2,
.schoolForm > label,
.schoolForm > h2 {
  font-weight: 800;
  margin-top: 5px;
}
.landingPageForm > input,
.schoolForm > input {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  margin-top: 0;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 10px;
  border-color: var(--main-color);
  border-style: solid;
}
input:focus-visible {
  outline: none;
}
.landingPageForm > button,
.schoolForm > button,
.overlay-buttons {
  padding: 10px 20px;
  margin-top: 5px;
}
.schoolCodePage {
  display: none;
}
.schoolCodePage > div.LoginContainer {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  justify-content: center;
}
div > div > div:has(.arrow) {
  grid-row: 1;
  grid-column: 1/5;
  align-self: start;
  justify-self: stretch;
}
.schoolCodePage > div.LoginContainer > h2 {
  grid-column: 1/5;
  grid-row: 1;
  justify-self: stretch;
  border-bottom: #dddadc solid 1px;
  align-self: end;
  font-size: clamp(20px, 2.5vw, 25px);
}
.schoolCodePage > div.LoginContainer > button {
  grid-row: 2 / span 2;
}
.schoolCodePage > div.LoginContainer > button:nth-child(3) {
  justify-self: stretch;
  grid-row: 2 / span 2;
  grid-column: 1/3;
}
.schoolCodePage > div.LoginContainer > button:nth-child(4) {
  justify-self: stretch;
  grid-row: 2 / span 2;
  grid-column: 3/5;
}
.schoolCodePage > div.LoginContainer > form {
  display: none;
  gap: 10px;
}
.schoolForm > input,
.schoolForm > div > div > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
.schoolForm > div > div > label {
  font-weight: 800;
  margin-top: 5px;
  text-align: center;
}
.schoolForm > div > div > input[type="number"]::-webkit-inner-spin-button,
.schoolForm > div > div > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.schoolForm > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.schoolForm > div > div {
  width: 50%;
}
.schoolForm {
  grid-row: 1 / span 2;
  justify-self: stretch;
  align-self: stretch;
  grid-column: 1/5;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dashboard {
  display: none;
  height: 100%;
  width: 100%;
}
.section-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 30px;
  background: linear-gradient(30deg, var(--main-color), var(--light-mainColor));
}
.dashboard > div > section {
  width: 50%;
  text-align: center;
  height: calc(100vh / 3.25);
  font-family: "Montserrat", sans-serif;
  color: #205da4;
  background: #c5c3c6;
  font-weight: 100;
  cursor: pointer;
  border-radius: 50px;
  transition: 1.25s;
  overflow-y: hidden;
}
.dashboard > div > section:hover {
  color: var(--lightest-color);
  background: linear-gradient(30deg, #205da4, #07f1f1);
  border: solid 1px var(--dark-textColor);
}
.dashboard > div > section > h1 {
  top: 50%;
  transform: translateY(-50%);
  font-size: max(5vw, 20px);
}

.dashboard > nav {
  width: 15%;
  background: var(--lightest-color);
  left: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.dashboard-tab {
  border-top: solid 1px var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.dashboard-tab:first-child {
  border-top: none;
  transform: translateX(-50%);
}
.dashboard-tab:last-child {
  border-bottom: solid 1px var(--grey-color);
}
.dashboard-tab > span:nth-child(1) {
  font-size: clamp(12px, 12vw, 45px);
}
.dashboard-tab > span:nth-child(2) {
  font-size: clamp(12px, 5vw, 18px);
}
@media screen and (max-width: 550px) {
  .dashboard-tab[displayedOnMobile="false"] > *:nth-child(2) {
    display: none !important;
  } 
}
.dashboard-tab[toggled="false"] > span:nth-child(1){ 
  color: var(--dark-textColor);
} 
.dashboard-tab[toggled = "false"] > span:nth-child(2){ 
  color: var(--grey-color);
}  
.dashboard-tab[toggled = "false"]:hover {    
  background-color: var(--dark-textColor);
} 
.dashboard-tab[toggled = "true"] {  
  color: var(--main-color);   
  background-color: var(--dark-textColor);
} 
